<% if logged_in? %>
  <div class="row">
        <aside class="col-sm-4">
      <%= form_with(model: @task, local: true) do |f| %>
        <div class="form-group">
          <p>状態！<%= f.text_area :status, class: "form-control", rows: 1 %></p>
          <p>タスク内容！<%= f.text_area :content, class: 'form-control', rows: 5 %></p>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
    <aside class="col-sm-4">
          <p>状態</p><p><%= @task.status%></p>
          <p>タスク内容</p><p><%= @task.content%></p>
          
    </aside>
    <div class="col-sm-8">
      <%= render 'tasks/tasks', tasks: @tasks %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>ようこそタスク管理へ！！</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>